<!-- BANNER -->
<div class="banner">
    <button class="btn-reset banner__close banner-close">
        <svg class="banner-close__svg">
          <use xlink:href="assets/svg/sprite.svg#close"></use>
        </svg>
    </button>
    <div class="banner__wrapper">
        <div class="container">
            <div class="banner__top banner-top">
                <svg class="banner-top__svg">
                  <use xlink:href="assets/svg/sprite.svg#forum"></use>
                </svg>
                <h1 class="banner-top__title">Annual California Advocates Forum</h1>
                <span class="banner-top__date banner-date">August 24-29, 2024</span>
                <button class="btn-reset banner-top__more banner-link">
                    Read more
                    <svg class="banner-top__svg banner-link__svg">
                      <use xlink:href="assets/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <h2 class="banner__subtitle">Network with top lawyers, attend insightful sessions, and stay updated on the latest legal trends. Don't miss this opportunity to advance your career!</h2>
            <div class="banner__companies banner-companies">
                <img src="./assets/img/firm-1.svg" alt="Ben Crump" class="banner-companies__img">
                <img src="./assets/img/firm-2.svg" alt="The Lincoln Law Firm" class="banner-companies__img">
                <img src="./assets/img/firm-3.svg" alt="Lacey Lions" class="banner-companies__img">
                <img src="./assets/img/firm-4.svg" alt="Cripps pemberton greenish" class="banner-companies__img">
                <img src="./assets/img/firm-5.svg" alt="California Innocence Project" class="banner-companies__img">
            </div>
            <div class="banner__bottom banner-bottom">
                <span class="banner-bottom__date banner-date">August 24-29, 2024</span>
                <a href="#" class="banner-bottom__register banner-link">
                    Register now
                    <svg class="banner-bottom__svg banner-link__svg">
                      <use xlink:href="assets/svg/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    
</div>
<!-- /BANNER -->