<!-- HEADER -->
<header class="header">
    <div class="container header__container">
        <nav class="nav" title="Navigation menu">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="company.html" class="nav__link">law companies</a></li>
            <li class="nav__item"><a href="#" class="nav__link">vendors</a></li>
          </ul>
        </nav>
        <a href="/" class="header__logo logo">
            <img src="./assets/img/logo.svg" alt="Logo" class="logo__img">
        </a>
        <div class="header__user header-user">
            <svg class="header-user__svg">
              <use xlink:href="assets/svg/sprite.svg#user"></use>
            </svg>
            <div class="header-user__name">andrey antar</div>
        </div>
    </div>
</header>
<!-- /HEADER -->