<!-- SEARCH BAR -->
<section class="search">
    <div class="container">
        <form action="#" class="search__form">
            <div class="search__input-wrapper">
                <input type="text" name="name" placeholder="I was in a car accident" class="input-reset search__input">
                <button class="btn-reset search__btn-icon search-btn" aria-label="Search">
                    <svg class="search-btn__svg">
                      <use xlink:href="assets/svg/sprite.svg#search"></use>
                    </svg>
                </button>
                <div class="search__input-btns hide">
                    <button class="btn-reset search__remove" aria-label="Remove choice from input">
                        <img loading="lazy" src="./assets/img/remove.svg" class="search__input-img" width="32" height="32" alt="Remove choice from input">
                    </button>
                    <button class="btn-reset search__enter">
                        Enter 
                        <svg class="search__enter-svg">
                          <use xlink:href="assets/svg/sprite.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                
                <div class="search__pointer"></div>
                
            </div>
            <div class="search__options">
                <ul class="list-reset search__btns">
                    <li class="search__item search__item--active"><button class="btn-reset search__btn">All</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Car accident</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Housing issues</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Housing issues</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Family</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Employment</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Immigration</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Personal Injury</button></li>
                    <li class="search__item"><button class="btn-reset search__btn">Vendors</button></li>
                </ul>
                <div class="search__radius search-radius">
                    Search radius: 
                    <span class="search-radius__value">
                        3 km 
                        <svg class="search-radius__svg">
                            <use xlink:href="assets/svg/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </form>
        <div class="search__similar search-similar">
            <div class="search-similar__title">Similar searches</div>
            <ul class="list-reset search-similar__list">
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">All</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Car Accident Claims</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Auto Injury Lawyer</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Vehicle Collision Legal Help</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Motor Vehicle Accident Attorney</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Traffic Accident Compensation</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Car Crash Legal Assistance</button>
                </li>
                <li class="search-similar__item">
                    <button class="btn-reset search-similar__btn">Automobile Accident Representation</button>
                </li>
            </ul>
        </div>
        <div class="search__results search-results">
            <div class="search-results__notfound">
                <img loading="lazy" src="./assets/img/search-result.svg" class="search-results__notfound-img" width="80" height="80" alt="Nothing was found">
                <h3 class="search-results__notfound-title">Nothing was found</h3>
                <h4 class="search-results__notfound-subtitle">Try changing the query or check the popular law companies</h4>
            </div>
            <div class="search-results__top">
                <h2 class="section-title search-results__title">
                    Popular law companies specializing in Car Accidents
                </h2>
                <span class="search-results__amount"><span class="search-results__amount-value">48</span> companies</span>
            </div>
            <ul class="list-reset search-results__items">
                <li class="search-results__item">
                    <article class="popular__card company-card">
                        <div class="company-card__descr">
                            <div class="company-card__header">
                                <a href="#" class="company-card__title">Golden State Law Firm</a>
                                <div class="company-card__icons">
                                    <button class="btn-reset company-card__btn" aria-label="Add to Favorite">
                                        <svg class="company-card__svg">
                                            <use xlink:href="assets/svg/sprite.svg#favorite"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="company-card__attorneys">12 attorneys on staff</h4>
                            <p class="company-card__text">Expert legal services across various fields, including corporate law, family law, and real estate. Dedicated to achieving the best outcomes for our clients</p>
                        </div>
                        <div class="company-card__contacts contacts-company-card">
                            <div class="contacts-company-card__mail contacts-company-card__field">
                                <a href="mailto:contact@californialegal.com" class="contacts-company-card__mail-link contacts-company-card__common-link">contact@californialegal.com</a>
                                <span class="contacts-company-card__mail-name contacts-company-card__common-name">Email</span>
                            </div>
                            <div class="contacts-company-card__mail contacts-company-card__field">
                                <a href="tel:12135550101" class="contacts-company-card__mail-link contacts-company-card__common-link">+1 213-555-0101</a>
                                <span class="contacts-company-card__mail-name contacts-company-card__common-name">Phone</span>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="search-results__item">
                    <article class="popular__card company-card company-card--pro">
                        <div class="company-card__descr">
                            <div class="company-card__header">
                                <a href="#" class="company-card__title">Pacific Legal Advisors</a>
                                <div class="company-card__icons">
                                    <img loading="lazy" src="./assets/img/pro.svg" class="company-card__img" width="20" height="20" alt="sertificate pro">
                                    <button class="btn-reset company-card__btn" aria-label="Add to Favorite">
                                        <svg class="company-card__svg">
                                            <use xlink:href="assets/svg/sprite.svg#favorite"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <h4 class="company-card__attorneys">2 attorneys on staff</h4>
                            <p class="company-card__text">Providing comprehensive legal solutions with a focus on personal injury, criminal defense, and employment law. Trust our experienced team to protect your rights.</p>
                        </div>
                        <div class="company-card__contacts contacts-company-card">
                            <div class="contacts-company-card__mail contacts-company-card__field">
                                <a href="mailto:info@goldenstatelawfirm.com" class="contacts-company-card__mail-link contacts-company-card__common-link">info@goldenstatelawfirm.com</a>
                                <span class="contacts-company-card__mail-name contacts-company-card__common-name">Email</span>
                            </div>
                            <div class="contacts-company-card__mail contacts-company-card__field">
                                <a href="tel:14155550202" class="contacts-company-card__mail-link contacts-company-card__common-link">+1 415-555-0202</a>
                                <span class="contacts-company-card__mail-name contacts-company-card__common-name">Phone</span>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /SEARCH BAR -->