<!-- SUNSHINE -->
<section class="sunshine">
    <div class="container">
        <div class="sunshine__headline">
            <div class="sunshine__logo">
                <img loading="lazy" src="./assets/img/webp/state-logo.webp" class="sunshine__logo-img" width="227" height="127" alt="Sunshine State Logo">
            </div>
            <button class="btn-reset sunshine__close">
                <svg class="sunshine__close-svg">
                  <use xlink:href="assets/svg/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="sunshine__content sunshine-content">
            <div class="sunshine-content__left">
                <div class="sunshine-content__header">
                    <h2 class="section-title sunshine-content__title">Sunshine State Law Firm</h2>
                    <button class="btn-reset sunshine-content__btn">
                        <svg class="sunshine-content__svg">
                            <use xlink:href="assets/svg/sprite.svg#favorite"></use>
                          </svg>
                    </button>
                    
                </div>
                <p class="sunshine-content__paragraph">
                    Sunshine State Law Firm offers comprehensive legal services specializing in business law, intellectual property, and immigration. Our dedicated team provides personalized legal guidance to individuals and businesses across California. 
                </p>
                <p class="sunshine-content__paragraph">
                    With years of experience and a commitment to excellence, we strive to deliver effective legal solutions tailored to our clients' unique needs. Trust Sunshine State Law Firm for professional, reliable, and strategic legal support.
                </p>
            </div>
            <div class="sunshine-content__right">
                <div class="sunshine-content__field">
                    <address class="sunshine-content__field-address">23 Main St, Los Angeles, SF, 10001</address>
                    <span class="sunshine-content__field-name">Address</span>
                </div>
                <div class="sunshine-content__field">
                    <div class="sunshine-content__field-schedule">
                        <div class="str">
                            <span class="str__left">Mon-Fri:</span>
                            <span class="str__right">09:00 - 18:00</span>
                        </div>
                        <div class="str">
                            <span class="str__left">Sat:</span>
                            <span class="str__right">10:00 - 14:00</span>
                        </div>
                        <div class="str">
                            <span class="str__left">Sun:</span>
                            <span class="str__right">Closed</span>
                        </div>
                    </div>
                    <span class="sunshine-content__field-name">Working Hours</span>
                </div>
                <div class="sunshine-content__field">
                    <a href="mailto:info@goldenstatelawfirm.com" class="sunshine-content__field-email">info@goldenstatelawfirm.com</a>
                    <span class="sunshine-content__field-name">Email</span>
                </div>
                <div class="sunshine-content__field">
                    <a href="tel:14155550202" class="sunshine-content__field-email">+1 415-555-0202</a>
                    <span class="sunshine-content__field-name">Phone</span>
                </div>
                <div class="sunshine-content__socials">
                    <div class="sunshine-content__socials-wrapper">
                        <img loading="lazy" src="./assets/img/facebook.svg" class="sunshine-content__socials-img" width="36" height="36" alt="Facebook">
                        <img loading="lazy" src="./assets/img/twitter.svg" class="sunshine-content__socials-img" width="40" height="40" alt="Twitter">
                        <img loading="lazy" src="./assets/img/linkedin.svg" class="sunshine-content__socials-img" width="40" height="40" alt="Linkedin">
                    </div>
                    <span class="sunshine-content__field-name">Social Media</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /SUNSHINE -->