//HEADER
.header {
    padding: 15px 0 0 0;
    background: $section-bg;
    &__container {
        display: flex;
        justify-content: space-between;
    }


    &__user {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: flex-start;
        cursor: pointer;
    }
}
.nav {
    max-width: 20%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__link {
        font-size: 12px;
        text-transform: uppercase;
        transition: .3s color ease-in-out;
        &:hover {
            color: blue;
        }
    }
}
.header-user {

    &__svg {
        width: 20px;
        height: 20px;
        use {
            fill: $text-black;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 100%;
    }
}
//END HEADER