$container-offset: 20px;
$site-container-width: 1440px;
$container-width: 1400px;
$section-offset: 60px;

//COLORS
$white: #ffffff;
$blue-light: #b3c4db;
$text-black: #1d1d1d;
$text-body: #616161;
$text-gray: #a7a4a4;
$site-bg: #bbbbbb;
$close-bg: #a4a9b0;
$section-bg: #eaeef4;

$banner-bg: #2c4157;

$maxWidth: 1440;
$minWidth: 370;